@{
    ViewBag.Title = "Home Page";
	string fileName ="";
}

<div>
	<input type="file" name="upload" id="uploadFile" /><br />
	<button id="submit">Загрузить</button>
	
	@*<button id="count">Считать слова</button>
	
	
	@Html.Hidden("fileName", @fileName)*@
	<div id="result"></div>
</div>

@section scripts{
	<script>

    $('#submit').on('click', function (e) {
        e.preventDefault();
        var files = document.getElementById('uploadFile').files;
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                	data.append("file" + x, files[x]);
                	//$('[name="fileName"]').attr("value", files[x].name);
                }

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Upload", "Home")',
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                    	$('#result').html(result);
                    },
                    error: function (xhr, status, p3) {
                        alert(xhr.responseText);
                    }
                });
            } else {
                alert("Браузер не поддерживает загрузку файлов HTML5!");
            }
        }
    });
		@*$('#count').on('click', function (e) {
			e.preventDefault();
			var name = $('[name="fileName"]').attr("value");
			$.ajax({
				type: "POST",
				url: '@Url.Action("WordCounting", "Home")',
				contentType: false,
				processData: false,
				data: name,
				success: function (result) {
					alert(result);
				},
				error: function (xhr, status, p3) {
					alert(xhr.responseText);
				}
			});
				
		});*@
	</script>
}